{% extends 'user_directory/base.html' %}
{% block content %}
<div class="container border border-success rounded mb-1">
  <h4 class="text-end">Отлично сработано!</h4>
    <p class="fst-italic">date and time</p>
    <hr>
  <p>О да, Вы успешно прочитали это важное уведомляющее сообщение. Этот пример текста будет работать немного дольше, чтобы Вы могли увидеть, как интервалы в уведомлении работают с этим типом контента.</p>
  <hr>
  <p class="mb-0">Когда Вам нужно, обязательно используйте утилиты полей, чтобы все было в хорошо и аккуратно.</p>
</div>

    <div class="container border border-success rounded mb-1">
  <h4 class="text-end">Отлично сработано!</h4>
    <p class="fst-italic">date and time</p>
    <hr>
  <p>О да, Вы успешно прочитали это важное уведомляющее сообщение. Этот пример текста будет работать немного дольше, чтобы Вы могли увидеть, как интервалы в уведомлении работают с этим типом контента.</p>
  <hr>
  <p class="mb-0">Когда Вам нужно, обязательно используйте утилиты полей, чтобы все было в хорошо и аккуратно.</p>
</div>

        <div class="container border border-success rounded mb-1">
  <h4 class="text-end">Отлично сработано!</h4>
    <p class="fst-italic">date and time</p>
    <hr>
  <p>О да, Вы успешно прочитали это важное уведомляющее сообщение. Этот пример текста будет работать немного дольше, чтобы Вы могли увидеть, как интервалы в уведомлении работают с этим типом контента.</p>
  <hr>
  <p class="mb-0">Когда Вам нужно, обязательно используйте утилиты полей, чтобы все было в хорошо и аккуратно.</p>
</div>
{% endblock content %}