{% load static %}
<html lang="en">
<head>
      <!-- META DATA -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main_style.css'%}" rel="stylesheet">
</head>

<body>

<header_x id="pageHeader"> {% include 'user_directory/navbar_header.html' %} </header_x>
<article_x id="mainArticle"> {% block content %}{% endblock content %} </article_x>
{% if user.is_authenticated %}
<nav_x id="mainNav"> {% block user_profile %}{% endblock user_profile %} {% block user_monitoring %}{% endblock user_monitoring %}</nav_x>
<div_x id="siteAds"> Ads </div_x>
{% endif %}
<footer_x id="pageFooter"> {% include 'user_directory/footer_menu.html' %} </footer_x>






</body>
</html>