<nav class="navbar navbar-expand-lg bookman_serif shadow">
    <div class="container-fluid">
        <a class="navbar-brand text-body fw-bold" href="{% url 'home' %}">Fitness App</a>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleXxl">
            <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-body" href="#" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">edit Profile</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-body" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="{% url 'login' %}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-body" href="{% url 'register' %}">Sign Up</a>
                    </li>
                    {%  endif %}

            </ul>
        </div>
    </div>
  </nav>