{% extends 'user_directory/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<form class="d-xxl-flex bookman_serif" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {{ form.error_messages }}
        {{ form.username.errors }}
        {{ form.non_field_errors }}
    {% if form.password2.errors %}
      {{ form.password2.errors }}
        {% endif %}
    </div>
{% endif %}


    <div class="login_form col-sm-12 p-4 shadow rounded-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><h1 class="h3 mb-3 fw-normal text-center">Please sign up</h1></div>
            </div>


                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.birth_day }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.gender }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.body_height }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.body_weight }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.body_type }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.activity_level }}
                    </div>
                </div>
                <div class="form-floating mb-1 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.target_weight }}
                    </div>
                </div>
                <div class="form-floating mb-3 row justify-content-center">
                    <div class="col-5">
                        {{ form_u.time_to_goal }}
                    </div>
                </div>


                <div class="container-xxl">
                    <div class="row justify-content-center"><button class="w-25 btn btn-outline-dark" type="submit">Sign in</button></div>
                </div>

        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#id_username').on('input', function() {
      var username = $(this).val();
      $.ajax({
        url: '/check_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function(data) {
          if (data.is_taken) {
            $('#username-feedback').html('<small class="form-text text-danger">This username is already taken. Please choose a different username.</small>');
            $('#id_username').removeClass('is-valid').addClass('is-invalid');
          } else {
            $('#username-feedback').html('<small class="form-text text-success">This username is available.</small>');
            $('#id_username').removeClass('is-invalid').addClass('is-valid');
          }
        }
      });
    });
  });
</script>

{% endblock content %}